/*header added*/
.bnr{
    background-image: url('../resources/Banner\ Image.png');
    border-radius: 16px;
    width: 1320px;
     height: 600px;
     flex-shrink: 0;
}
div{
    align-items: center;
    padding: 150px 300px;
    
}
.nw{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nc{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
width: 632px;
line-height: 95px; /* 131.944% */
}
/*section 1 added */
.section-1{
    
    width: 1600px;
}
.offer{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.deals{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.ctgry{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.imgny{
    align-items: center;
    padding: 48px 400px 120px 400px;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}
/*section 2 added */
.section-2{
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
}
.invite{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
width: 642px;
}
.iv{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 697px;
}
.btn{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.img24{
    margin: auto;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.invinfo{
    padding: 126px 126px 126px 126px;
}
/* added section-3 */
.section-3{
    margin-top: 120px;
    background-color: bisque;
   width: 1320px;
height: 482px;
flex-shrink: 0;
}
.bb{
    
}
.data{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.jn{

    color: #FFF;

    text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
padding: 16px 32px;
display: block;
margin: auto;
justify-content: center;
gap: 10px;
border-radius: 8px;
background: #F00;
}
/* added section-4 */
.section-4{
    background-color: rgba(255, 255, 255, 0.80);
    margin-top: 120px;
    width: 1320px;
height: 482px;
display: flex;
justify-content: space-between;
}
.contentoffer{
    padding: 100px 70px 100px 0px;
}
.offer{
    color: #F00;
padding: 0px 190px 0px 0px;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
time{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.infop{
    color: rgba(7, 2, 17, 0.60);
    width: 393px;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.imgelli{
    padding: 0px 0px 0px 0px;
    width: 463px;
height: 463px;
flex-shrink: 0;
border-radius: 50%;
border: 10px solid #F00;

}
.elip{
    padding: 50px 50px 50px 50px;
    width: 364.844px;
height: 364.844px;
flex-shrink: 0;
border-radius: 50%;
}
.fest{
    padding: 85px 0px 0px 100px;
}
.date{
    color: #F00;

font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.infod{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.img96{
    width: 140px;
height: 140px;
flex-shrink: 0;
}
/* added to section-5 */
.section-5{
    margin-top: 120px;
    width: 1320px;
    height: 820px;
    background-color: rgba(255, 255, 255, 0.80);
}
.fn{
    color: #070211;
    padding-top: 20px;
    text-align: center;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.sale{
    text-align: center;
}
.hl{
    color: #F00;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.sl{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.infwh{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}
.imgrr{
    padding: 64px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.img75{
    margin-top: -1000px;
    width: 700.09px;
height: 550.424px;
flex-shrink: 0;
}
.img44{
    margin-bottom: 150px;
    width: 350.841px;
height: 350.841px;
transform: rotate(-34.212deg);
flex-shrink: 0;
}
.imgr1{
    margin-left: -160px;
    margin-bottom: 170px;
    width: 429px;
height: 433px;
flex-shrink: 0;

}
.imgr2{
    margin-top: -350px;
    width: 1320px;
height: 229px;
flex-shrink: 0;
}
/* added to section-6 */
.section-6{
    margin-top: 120px;
    width: 1320px;
    height: 1450px;
    background-color: rgba(255, 255, 255, 0.80);
}
.infogift{
    padding-left: 0%;
    padding-bottom: 0%;
}
.gft{
    color: #F00;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal
}
.prtf{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.contentcm{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.product-1{
    padding-left: 0%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.imgr3{
    padding-right: 22px;
    width: 424px;
height: 450px;
border-radius: 10px;
flex-shrink: 0;
}
.imgr4{
    padding-right: 22px;
    width: 424px;
height: 450px;
border-radius: 10px;
flex-shrink: 0;
}
.imgr5{
    width: 424px;
height: 450px;
border-radius: 10px;
flex-shrink: 0;
}
.product-2{
    padding-left: 0%;
    padding-bottom: 0%;
    margin-top: -250px;
    display: flex;
    justify-content: space-between;
}
.imgr6{
    padding-right: 22px;
    width: 424px;
height: 450px;
border-radius: 10px;
flex-shrink: 0;
}
.imgr7{
    padding-right: 22px;
    width: 424px;
height: 450px;
border-radius: 10px;
flex-shrink: 0;
}
.imgr8{
    width: 424px;
height: 450px;
border-radius: 10px;
flex-shrink: 0;
}
/* added section-7 */
.section-7{
    margin-top: 120px;
    width: 1320px;
height: 616px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
}
.mail{
    padding-top: 80px;
}
.grp61{
    padding-left: 300px;
    width: 150px;
height: 150px;
flex-shrink: 0;
}
.sn{
    color: #070211;

text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.infra{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
label{
    margin-top: -140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.gmail{

    width: 648px;
height: 72px;
flex-shrink: 0;
border-radius: 50px 0px 0px 50px;
background: #FFF;
color: rgba(7, 2, 17, 0.30);

text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sub{
    width: 210px;
height: 78px;
flex-shrink: 0;
border-radius: 0px 50px 50px 0px;
background: #F00;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
/* added to footer */
footer{
    margin-top: 120px;
    width: 1320px;
    height: 609px;
flex-shrink: 0;
background: #070211;
}
.contac{
    display: flex;
    justify-content: space-evenly;
}
.place{
    margin-top: -200px;
    color: #FFF;
    width: 375px;
    height: 70px;
line-height: 30px;
}
.socialcontac{
    margin-top: -300px;
}
.phone{
    display: flex;
    gap: 10px;
}
.call{
    padding-top: 13px;
    width: 40px;
height: 40px;
flex-shrink: 0;
}
.namber{
    width: 195px;
    height: 40px;
    color: #FFF;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 30px;
}
.web{
    display: flex;
    gap: 10px;
}
.website{
    padding-top: 1px;
    width: 40px;
height: 40px;
flex-shrink: 0;
}
.browser{
    width: 195px;
    height: 40px;
    color: #FFF;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 30px;
}
.line1{
    margin-top: -370px;
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}
.icon{
    padding: 30px 400px 400px 450px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.line2{
    margin-top: -370px;
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}
.xy{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 500px;
}
.hh{
    width: 500px;
    height: 29px;
    color: #FFF;

font-family: Inter;
font-size: 20px;
font-style: normal;
line-height: normal;
}
.gh{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}